@import "../../styles/variables";

h1 {
  font-size: 1.625rem;
  font-weight: 700;
  margin-bottom: $spacing-l;
}

input {
  margin-bottom: $spacing-l;
}

.predefinedPeriods {
  display: grid;
  grid-gap: 1.25rem;
  grid-template-columns: auto auto auto;
  margin-bottom: $spacing-l;

  &:last-child {
    margin-bottom: 0;
  }
}

.cta {
  align-self: center;
}
