@import "../../styles/variables";

.container {
  padding: 2rem 3rem;
  align-self: stretch;
  align-items: center;

  .centerArea {
    a {
      padding: 0 1rem;
      text-decoration: none;
      font-size: 1rem;
      text-transform: uppercase;
      font-weight: 700;
      color: white;
    }
  }
}
