@import "../../styles/variables";

.leaderboardTable {
  min-width: 600px;
}

.positionColumn {
  width: 16px;
}

.highlight {
  color: $alternate-pink;

  & :hover {
    cursor: pointer;
  }
}

.seniorWatsonModal {
  max-width: 600px;

  & h1 {
    color: $alternate-pink;
  }
}

.logo {
  border-radius: 50%;
}
