@import "../../styles/variables";

.box {
  width: auto;
  height: auto;

  min-width: 500px;
  max-width: 80%;
  max-height: 70%;

  border: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(136.33deg, rgba(135, 22, 232, 0.28) 7.74%, rgba(254, 110, 153, 0) 98.49%);

  background-color: $background-color;

  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  padding: 2.5rem;
  transform-style: preserve-3d;

  & .shadow {
    width: 110%;
    height: 110%;
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translateZ(-10px) translateX(-50%) translateY(-50%);

    background: radial-gradient(50% 50% at 50% 50%, #be72ff 0%, #8716e8 40%, rgba(123, 42, 192, 0) 100%);
    filter: blur(30px);
  }
}
